.chat {
 display: flex;
 flex-direction: row;
 height: 100vh;
}

.left_side, .right_side {
 display: flex;
 flex-direction: column;
}

.left_side {
 flex: 2;
 border: 1px solid #f3f3f3;
 background-color: #f3f3f3;

}

.right_side {
 flex: 7; 

}
.search, .header {
 border-left: 1px solid #e2e2e2;

}

.user_list, .messages {
 flex: 1;
 border-top: 1px solid #e2e2e2;

}

.settings, .message_from{
 border-top: 1px solid #e2e2e2;

}

.user-list{
 display: flex;
 padding: 18px;
 border: 1px solid #f3f3f3;
 background-color: white;
 cursor:pointer;
 align-items: center;
}

.avatar{
 padding-right: 15px;
 display: flex;
 align-items: center;
}

.avatar > .MuiSvgIcon-root{
 margin-right: -15px;

}

.header {
 display: flex;
 height: 85px;
 align-items: center;
 padding-left: 20px;
 background-color: #f3f3f3;

}

.user-list:hover{
 background-color: #e2e2e2;
}


.message {
 padding: 8px;
 margin-bottom: 16px;
 border: 1px solid #f3f3f3;
}

.settings {
 display: flex;
 float: left;
 justify-content: end;
}

.message_from {
 display: flex;
}

.message_from input {
 flex: 1;
margin: 10px;
margin-right: 50px;
}

.message_from button {
 width: 110px;
 height: 48px;
 margin: 10px;
margin-right: 40px;}

.search {
 border: 1px solid #e2e2e2;
 height: 50px;
 margin: 15px;
}

.settings button {
 width: 47px;
 height: 47px;
 margin: 10px;
 background-color: #a7a5a5;
}


.message-area {
width: 100%;
display: flex;
justify-content: flex-start;

}

.message-area.user-me{
justify-content: flex-end;
}



.message {
 width: 475px;
margin-top: 20px;
 margin-left: 20px;
 padding: 20px;
 background-color: #f3f3f3;
}

.avatar2 {
 display: flex;
}


.header button {
 width: 40px;
}

